.box {
  padding: 10px;
  margin: 0.5em 0;
  border-radius: 0.5em;
  border: 2px dotted black;
}

.boxsquare {
  width: 150px;
  height: 150px;
  background: black;
  border: 4px solid;
  border-image: linear-gradient(45deg, red, blue, lime) 1;
  margin: 20px;
  align-items: center;
  text-align: center;
  color: white;
  justify-content: center;
  display: flex;
}

#container {
	display: flex;
  box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 6px solid black;
	resize: both;
	overflow: auto;
	max-width: 100%;
	max-height: 100%;
}

#iconHolder {
	width: min(150px, 100%);
	height: min(150px, 100%);
  box-sizing: border-box;
  border: 6px solid blue;
}

.test {
  display: block;
  position: relative;
  width: 200px;
  margin-left: 30px;
  background-color: rgb(0, 255, 195);
}

.one {
  display: block;
  position: relative;
  width: 200px;
  height: 15px;
  margin-left: 1px;
  background-color: antiquewhite;
}

.two {
  position: relative;
  margin-left: 30px;
  display: block;
  width: 300px;
  background-color: blueviolet;
}

.three {
  position: relative;

  margin-left: 30px;
  display: block;
  width: 400px;
  background-color: greenyellow;
}

.wrapper{
  border: 5px solid red;
  padding: 20px;
  border-radius: 0em;
  border-style: double;
}

.cool {
  position: absolute;
  top: 50px;
  right: 50px;
}

:root {
	--header: 3rem;
	--footer: 40px;
	--main: calc(100vh - calc(var(--header) + var(--footer)));
}


#container1 {
  margin: 0px;
  padding: 0px;
	border: 0px solid transparent;
	height: 100vh;
	color: white;
}
#container1 > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

#header {
  margin: 0px;
  padding: 0px;
	height: var(--header);
	background: #111111;
}
#mainContent {
	height: var(--main);
	background: #343434;
	margin-right: auto;
	margin-left: auto;
}
#footer {
	height: var(--footer);
	background: #232323;
}

.btn, .btn:link, .btn:visited{
  text-decoration: none;
  margin: 5px;
  color: rgb(255, 0, 0);
  background-color: chartreuse;
  padding: 0.35rem 0.6rem;
  border-radius: 4px;
  display: inline-block;
}

.btn:hover{
  color: white;
  background-color: black;
  cursor: pointer;
}

.btn:active{
  color: red;
  background-color: white;
}

